<!DOCTYPE html>
<html>
<head>
    <style>
        body {
          margin:5px;
          text-align:center;
          width:99%;
          height:100%;
        }
        table, th, td {
          table-layout: fixed;
          width: 100%;
          border-collapse: collapse;
          border: 2px solid lightgray;
        }
        th, td {
          padding: 12px;
          text-align: center;
        }
        tbody td {
            text-align: left;
        }

        tfoot th {
            text-align: right;
        }

    </style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1>Weather Statistic</h1>

    {% block body %}
    {% endblock %}
    {% load static %}

    <div style="opacity:0.4;position:absolute;left:70%;z-index: -1">
        <img src="{% static 'wing.png' %}">

    </div>

</body>

</html>
