{% extends "base.html" %}
{% block title %}
Main page
{% endblock %}
{% block body %}
<table style="position:absolute;left:30%;width:40%;border: 2px solid lightgray">

    <tbody>
    <tr>
        <form>
            <input type="submit" formaction="{% url 'statistic' %}"
                   formmethod="post" value="Submit">
            <h1> </h1>

            {% csrf_token %}
            {{ city_name }}
            {{ start_date }}
            {{ end_date }}

        </form>
    </tr>
    </tbody>
</table>
{% endblock %}
